* {
    margin: 0%;
    padding: 0%;
    font-family: "Fira Code", "JetBrains Mono", Monaco, Consolas, Ubuntu Mono, monospace !important;
}

body {
    background-color: rgb(245, 245, 245);
}

/* навбар */
.navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.block-navbar {
    height: 8vh;
    border: 2px solid red;
    padding: 0;
    margin: 0%;
}


/* навбар - логотип */

.navbar-block-brand {
    border: 2px solid green;
    text-align: center;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.navbar-brand:hover {
    font-size: 2em;
    font-weight: 600;
    color: green;
}

/* навбар - бегущая строка */

.navbar-block-running-line {
    border: 2px solid green;
    
}

/* навбар - кнопки профиля и выхода */
.navbar-btn-exit {
    border: 2px solid green;
    font-size: 1.5em;
}




/* сайдбар */

.sidebar {
    border: 2px solid red;
    height: 92vh;
    margin: 0;
}

.sidebar-nav-link-block {
    margin-top: 2rem;
}

.sidebar-nav-link {
    font-size: 1.5em;
}

.sidebar-nav-link:hover {
    font-size: 1.7em;    
}
/* колнтент блок */

.content {
    border: 2px solid red;
}

