<div class="row block-navbar">
    <nav class="navbar">
        <div class="navbar-block-brand col-lg-2">
            <a class="navbar-brand mx-auto" href="#">Botovod3000</a>
        </div>
        <div class="navbar-block-running-line col-lg-8">
            <h2 class="mx-auto justify-content-center">
                бегущая строка бегущая строка бегущая строка бегущая строка
            </h2>
        </div>
        <div class="d-flex col-lg-1">
            <a href="#" class="btn navbar-btn-exit w-100">Профиль</a>
        </div>
        <div class="d-flex col-lg-1">
            <a href="#" class="btn navbar-btn-exit w-100">Выйти</a>
        </div>
    </nav>
</div>