<div class="d-flex flex-column flex-shrink-0 p-1 sidebar-nav-link-block">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link sidebar-nav-link">Главный</a>
        </li>
        <li>
            <a href="#" class="nav-link sidebar-nav-link">Боты</a>
        </li>
        <li>
            <a href="#" class="nav-link sidebar-nav-link">Статистика</a>
        </li>
        <li>
            <a href="#" class="nav-link sidebar-nav-link">История сделок</a>
        </li>
    </ul>
</div>