<div class="col-lg-12 container-card-bots">
        <!-- заголово карточек с информацией о ботах -->
        <div class="row block-title-card-bots">
            <div class="col-lg-10 title-card-bots">
                <h2>БОТЫ</h2>
            </div>
            <div class="col-lg-1 title-card-bots justify-content-center">
                <h2>(-)</h2>
            </div>
            <div class="col-lg-1 title-card-bots justify-content-center">
                <h2>...</h2>
            </div>
        </div>
        <div class="row block-content-card-bots">
            
                
                <div class="card col-lg-3">
                    <div class="card-body">
                        This is some text within a card body.
                        This is some text within a card body.
                        This is some text within a card body.
                    </div>
                </div>
                <div class="card col-lg-3">
                    <div class="card-body">
                        This is some text within a card body.
                        This is some text within a card body.
                        This is some text within a card body.
                    </div>
                </div>
                <div class="card col-lg-3">
                    <div class="card-body">
                        This is some text within a card body.
                        This is some text within a card body.
                        This is some text within a card body.
                    </div>
                </div>
                <div class="card col-lg-3">
                    <div class="card-body">
                        This is some text within a card body.
                        This is some text within a card body.
                        This is some text within a card body.
                    </div>
                </div>
        </div>
    </div>