<div class="fake-transactions container my-4">
    <h2 class="mb-4">История сделок</h2>
    <div class="table-responsive">
        <table class="table align-middle table-bordered table-striped table-hover">
            <tbody style="background-color: white;">
                <tr>
                    <td>Покупка</td>
                    <td>BTC/USDT</td>
                    <td>2024-06-15 14:23</td>
                    <td>0.025 BTC</td>
                </tr>
                <tr>
                    <td>Продажа</td>
                    <td>ETH/USDT</td>
                    <td>2024-06-15 13:10</td>
                    <td>1.2 ETH</td>
                </tr>
                <tr>
                    <td>Покупка</td>
                    <td>XRP/USDT</td>
                    <td>2024-06-14 18:45</td>
                    <td>500 XRP</td>
                </tr>
                <tr>
                    <td>Продажа</td>
                    <td>LTC/USDT</td>
                    <td>2024-06-14 09:30</td>
                    <td>10 LTC</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>