* {
    margin: 0%;
    padding: 0%;
    font-family: "Fira Code", "JetBrains Mono", Monaco, Consolas, Ubuntu Mono, monospace !important;
}

body {
    background-color: rgb(245, 245, 245);
}

/* навбар */
.navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);

}

.block-navbar {
    height: 8vh;
    padding: 0;
    margin: 0%;
}


/* навбар - логотип */

.navbar-block-brand {
    
    text-align: center;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.navbar-brand:hover {
    font-size: 2em;
    font-weight: 600;
    color: green;
}

/* навбар - бегущая строка */

.navbar-block-running-line {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      height: 2rem;
      color: #000000;
      display: flex;
      align-items: center;
    }

    .navbar-block-running-line h2 {
      position: absolute;
      display: inline-block;
      white-space: nowrap;
      animation: scroll-left 15s linear infinite;
      font-size: 24px;
      padding-left: 100%;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    /* остановка анимации при наведении */
    .navbar-block-running-line:hover h2 {
      animation-play-state: paused;
    }

/* навбар - кнопки профиля и выхода */
.navbar-btn-exit {
    
    font-size: 1.5em;
}




/* сайдбар */

.sidebar {
    
    height: 92vh;
    margin: 0;
}

.sidebar-nav-link-block {
    margin-top: 2rem;
}

.sidebar-nav-link {
    font-size: 1.5em;
}

.sidebar-nav-link:hover {
    font-size: 1.7em;    
}

@media (max-width: 991.98px) {
    .sidebar {
      display: none !important;
    }
  }





/* колнтент блок */

.content {
    
    height: 92vh;
    scrollbar-width: none;
}

